[Unit]
Description=Suspend
Before=sleep.target

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/%i/.config/i3/i3exit lock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
